a {
    font-size: 0.66667em;
    line-height: 1;
    color: #557b97;
    font-family: "Geometric 415", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    white-space: normal;
    appearance: none;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: solid 1px #557b97;
    border-radius: 2px;
}

.page-width .grid--view-items .grid__item .grid-view-item .grid-view-item__image-wrapper